body {
  text-align: center;
  font-size: 20px;
}

section h1 {
  font-size: 30px;
}
section .about-game {
  font-size: 20px;
}

section .game-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .game-wrap #computer {
  width: 320px;
  height: 500px;
  background: url("game.jpg") 0 0;
  display: inline-block;
  margin-right: 50px;
}

section .game-wrap .button {
  background-color: antiquewhite;
  font-size: 20px;
  border-radius: 5px;
}

section .game-wrap #winner {
  padding: 20px;
  font-size: 30px;
  font-weight: 1000;
  color: red;
}

section .result-wrap #restart {
  display: none;
  font-size: 20px;
  margin-top: 30px;
}
